{
  "Parameters": {
    "REQUESTS_TABLE_NAME": "DisasterRequestsLocal",
    "STATISTICS_TABLE_NAME": "DisasterStatisticsLocal",
    "ANALYSIS_QUEUE_URL": "http://host.docker.internal:4566/000000000000/analysis",
    "USE_MOCK_AI": "true",
    "BEDROCK_MODEL_ID": "",
    "PROMPT_VERSION": "1.0.0",
    "ALLOWED_ORIGIN": "http://localhost:5173"
  }
}
